html{
    font-size: 18px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE/Edge */
    scroll-behavior: smooth;
}

h1,h2,h3 {
    text-align: left;
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
    display: none;
}

body {
    background: linear-gradient(to right, #d3d3d3 0%,#f7f7f7 3%,#ffffff 16%,#ffffff 80%,#f7f7f7 97%,#d3d3d3 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures full viewport height */
    margin: 0;
} 

main{
    flex-grow: 1; /* Pushes the footer down */
}

body *:not(header):not(.main-nav a):not(.kebejoan a) {
    animation: slideUp 0.6s ease-in-out;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.kebejoan {
    padding: 4px;
    margin: 8px;
    opacity: 1 !important;
    animation: none !important;
}

.main-nav{
    opacity: 1 !important;
    animation: none !important;
}

.kebejoan a{
    color:crimson;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
    text-align: left;
    text-decoration: none;
    text-shadow:rgb(209, 209, 209) 1px 1px 1px;
    transition-property: font-size;
    transition-duration: 0.5s;
}

.kebejoan a:hover{
    font-size: 1.6rem;
}

p {
    font-weight: 350;
    text-align: justify;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contact-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-name label{
    width: 100%;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
}

.contact-name input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 6px;
}

.contact-email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-email label{
    width: 100%;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
}

.contact-email input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 6px;
}

.contact-subject{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-subject label{
    width: 100%;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
}

.contact-subject select{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 6px;
}

.contact-concern{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-concern label{
    width: 100%;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
}

.contact-concern textarea{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 6px;
    font-family: "Work Sans", sans-serif;
}

.contact-submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-submit input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
}

input:empty{
    border: 2px solid crimson;
}

input:invalid{
    border: 2px solid crimson;
}

input:valid{
    border: 2px solid green;
}

textarea:empty{
    border: 2px solid crimson;
}

textarea:valid{
    border: 2px solid green;
}

select:invalid{
    border: 2px solid crimson;
}

select:valid{
    border: 2px solid green;
}

input[type="submit"]{
    border: 2px solid gray;
}

.bottom-fade{
    width: 100vw;
    height: 4vh;
    background: linear-gradient(to right, #d3d3d3 0%,#f7f7f7 3%,#ffffff 16%,#ffffff 80%,#f7f7f7 97%,#d3d3d3 100%);
    opacity: 0.8;
    backdrop-filter: blur(2px);
    position: fixed;
    bottom: 0;
    z-index: 9000;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 99%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 99%);
    
}

footer {
    position: relative;
    bottom: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
    /* background-color: white;
    padding: 4px;
    margin: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; */
    z-index: 10000;
}

.footer-socials a img{
    width: 20px;
}






.carousel-container {
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    position: relative;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.carousel-container h2 {
    margin-bottom: 20px;
    font-family: "Roboto Slab", serif;
    font-size: 1.8rem; 
    color: crimson;
}

/* Hide radio buttons */
input[type="radio"] {
    display: none;
}

/* Carousel Container */
.carousel {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
    padding: 20px;
    box-sizing: border-box;
}

/* Navigation Buttons */
.carousel-nav {
    position: absolute;
    top: 92%;
    right: 5%;
    transform: translateY(-50%);
    width: 90%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    scroll-margin-bottom: 800px;
}

.carousel-nav label {
    pointer-events: all;
    background: gray;
    color: white;
    border: none;
    padding: 12px 15px;
    font-size: 0.5rem;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.7;
    transition: 0.3s;
}

.carousel-nav label:hover {
    opacity: 1;
    background: crimson;
}


.car-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}




/* -- mobile and below -- */
@media only screen and (max-width: 768px) {

    .back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: crimson;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 14px;
        opacity: 0.7;
        /* visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s; */
        z-index: 999999;
    }

    section{
        padding: 16px;
        margin-top: 12px;
        margin-bottom: 12px;
        background-color: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        border-radius: 16px;
    }

    ul{
        margin:0px;
        padding:0px;
    }

    li{
        margin:0px;
        padding:0px;
    }

    header {
        background-color: rgba(255,255,255,0.6);
        backdrop-filter: blur(6px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
        border-radius: 16px;
    }

    .main-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .main-div-mid {
        width: 98vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
    }
    
    .main-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    } 
    
    .main-nav a {
        /* border: black 1px solid; */
        padding: 8px;
        margin: 8px;
        text-align: center;
        color: black;
        transition-property: color 0.5s;
    }

    .main-nav a:focus{
        color: crimson;
    }
    
    a{
        text-decoration: none;
    }
    
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: 12px;
        margin: 0px;
        margin-top: 12px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
        border-radius: 16px;
    }
    
    .hero-header h1{
        color:crimson;
        font-family: "Roboto Slab", serif;
        font-size: 1.6rem;
    }

    .hero div img{
        width: 70vw;
        filter: grayscale(20%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }

    .hero div p{
        margin: 0px;
    }

    .who-am-i{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 8px;
        border-bottom: 2px solid black;
        /* background-color: white;
        padding: 12px;
        margin: 0px;
        margin-top: 12px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
        border-radius: 16px; */
    }

    .who-am-i-header{
        border-bottom: 2px solid black; 
    }

    .who-am-i-header h1{
        color:crimson;
        font-family: "Roboto Slab", serif;
        font-size: 1.6rem;
    }

    .who-am-i-pic{
        display: flex;
        align-items: center;
        width: 100%;
        height: 400px;
        overflow: hidden;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        margin: 12px;
    }

    #who-am-i-mobile{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #who-am-i-desktop{
        display: none;
    }

    .academic{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 12px;
        border-bottom: 2px solid black;
    }

    .academic-header{
        font-family: "Roboto Slab", serif;
        font-size: 1.6rem;
        border-bottom: 2px solid black; 
    }

    .academic-header h2{
        color:crimson;
        font-family: "Roboto Slab", serif;
        font-size: 1.6rem;
    }

    .academic div:nth-child(1){
        order: 1;
    }

    .academic div:nth-child(2){
        order: 3;
    }

    .academic div:nth-child(3){
        order: 2;
    }

    .academic-pic {
        margin: 12px;
        
    }

    .academic-pic img{
        width: 80vw;
        height: 280px;
        object-fit:cover;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }

    .work {
        margin: 12px;
    }

    .work-header{
        font-family: "Roboto Slab", serif;
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 12px;
    }

    .work-header h2{
        border-bottom: 2px solid black;
        color:crimson;
        font-family: "Roboto Slab", serif;
        font-size: 1.6rem;
    }

    .scada {
        border-bottom: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .scada-pic {
        width: 80vw;
        height: 400px;
        overflow: hidden;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        margin: 12px;
        align-items: center;
    }

    .scada-pic picture{
        width: 80vw;
        object-fit:cover;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        align-content: center;
    }

    .scada-pic picture img{
        width: 100%;
        height: 100%;
        object-fit:cover;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        align-content: center;
    }

    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
}


/* -- tablet and above -- */
@media only screen and (min-width: 769px) {

    .back-to-top{
        display: none;
    }

    .main-div-mid {
        width: 1256px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
    }

    @media only screen and (max-width: 1280px) {
        .main-div-mid {
            width: 98vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: justify;
        }
    }

    section, .car-flex{
        /* padding: 16px;
        background-color: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
        border-radius: 16px; */
        filter: grayscale(95%);
        transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    }

    section:hover , .car-flex:hover{
        transform: scale(1.005);
        filter: grayscale(0%);
    }

    .main-div{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    p {
        font-weight: 350;
    }

    header {
        position: sticky;
        top: 0;
        background-color: rgba(255,255,255,0.6);
        backdrop-filter: blur(6px);
        height: 8vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* X, Y, Blur, Spread, Color */
        z-index: 10000;
    }
    
    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px;
    } 
    
    .main-nav a {
        /* border: black 1px solid; */
        padding: 2px;
        margin: 4px;
        text-align: center;
        color: black;
        font-size: 1.2rem;
        transition-property: color, font-size;
        transition-duration: 0.5s, 0.5s;
    }

    .main-nav a:hover{
        color: crimson;
        font-size: 1.24rem;
    }
    
    
    a{
        text-decoration: none;
    }
    
    .hero{
        display: grid;
        grid-template-columns: minmax(250px, 1fr) 1fr 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        gap: 4px;
        /* flex-direction: column; */
        justify-content: center;
        background-color: white;
        padding: 12px;
        margin: 0px;
        margin-top: 12px;
        margin-bottom: 12px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
        /* border-radius: 16px; */
    }

    .hero div img{
        width: 10vw;
        /* filter: grayscale(20%); */
        margin: 12px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }


    .hero-pic{
        grid-row: 1 / span 2;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-header{
        grid-column: 2 / span 4;

        display: flex;
        justify-content: left;
        align-items: flex-end;
    }

    .hero-header h1{
        margin: 0px;
        color: crimson;
        font-family: "Roboto Slab", serif;
        font-size: 2.4rem;
    }

    .hero-para{
        grid-column: 2 / span 4;

        display: flex;
        align-items: flex-start;
        
    }

    .hero-para p{
        font-size:1.1rem;
    }

    .who-am-i{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr minmax(300px, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 16px;
        padding-bottom: 20px;
        border-bottom: black 2px solid;
    }

    .who-am-i-header h1{
        margin: 0px;
        color: crimson;
        font-family: "Roboto Slab", serif;
        font-size: 2.4rem;
    }

    .who-am-i-header{
        grid-column: 1 / span 3;
        display: flex;
        align-items: flex-end;

        border-bottom: black 2px solid;
        padding-bottom: 20px;
    }

    .who-am-i-para1{
        grid-column: 1 / span 3;
        grid-row: 2 / 3;

        display: flex;
        align-items: flex-end;
    }

    .who-am-i-para2{
        grid-column: 1 / span 3;
        grid-row: 3 / 4;
        padding: 16px;
        display: flex;
        align-items: flex-start;
        border-left: 2px solid black;
    }

    .who-am-i-pic{
        grid-row: 1 / span 3;
        grid-column: 4 / 5;
        
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }

    #who-am-i-mobile{
        display: none;
    }

    #who-am-i-desktop{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .academic {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .academic-list {
        border-bottom: 2px solid black;
        padding: 12px;
        flex-grow: 2;
        flex-shrink:1;
        justify-content: center;
        list-style: none;
    }

    .academic-header {
        margin:24px;
        padding: 12px;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        justify-content: center;
    }

    .academic-header h2{
        margin: 0px;
        margin: 0px;
        color: crimson;
        font-family: "Roboto Slab", serif;
        font-size: 2.4rem;
    }

    .academic-pic {
        flex-grow:1;
        flex-shrink: 4;
        
    }

    .academic-pic img{
        width: 225px;
        height: 225px;
        object-fit: cover;
        margin: 12px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }

    .work {
        display:flex;
        flex-direction: column;
        align-items: left;
    }

    .work-header{
        font-family: "Roboto Slab", serif;
        font-size:1.6rem;
    }

    .work-header h2{
        margin: 0px;
        color: crimson;
        font-family: "Roboto Slab", serif;
        font-size: 2.4rem;
        padding-left: 12px;
        border-left: 2px solid black;
    }

    .work-list {
        padding-left: 12px;
        padding-right: 12px;
        margin: 0px;
        border-top: 2px solid black;
        border-right: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.2rem;
    }

    .work-list ul{
        padding-left: 12px;
        padding-right: 12px;
    }

    .scada {
        display: flex;
        flex-direction: row;
        /* align-items: center;
        justify-content: space-around; */
        padding-bottom: 20px;
        /* filter: grayscale(95%); */
        transition-property: filter;
        transition-duration: 0.5s;
        border-bottom: black 2px solid;
        /* width:100%; */
    }
    
    .scada-pic{
        flex-grow: 1;
        flex-shrink: 1;
        width: 30vw; 
    }

    .scada-pic picture img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }

    .scada-pic picture{
        width:100%;
    }

    .scada-content{
        flex-grow: 1;
        flex-shrink: 2;
        margin: 8px;
        padding: 8px;
    }

    .contact-container{
        padding: 12px;
        margin: 12px;
        border-radius: 12px;
        background-color: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }

}
