html{
    font-size: 16px;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
body {
    background: linear-gradient(to right, #d3d3d3 0%,#f7f7f7 5%,#ffffff 16%,#ffffff 80%,#f7f7f7 95%,#d3d3d3 100%);
} 

.kebejoan {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.6rem;
    font-style: normal;
    padding: 4px;
    margin: 8px;
    text-align: left;
    text-decoration: none;
    color:crimson;
    text-shadow:rgb(209, 209, 209) 1px 1px 1px;
}

p {
    font-weight: 350;
    text-align: justify;
}



/* -- mobile and below -- */
@media only screen and (max-width: 768px) {

    body{
        margin: 8px;
    }

    header {
        /* position: sticky; */
        /* top: 0; */
        background-color: rgba(255,255,255,0.6);
        backdrop-filter: blur(6px);
        /* padding: 12px; */
        /* margin: 8px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* X, Y, Blur, Spread, Color */
        border-radius: 16px;
        font-size: 0.9rem;
    }
    
    .main-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    } 
    
    .main-nav a {
        /* border: black 1px solid; */
        padding: 8px;
        margin: 8px;
        text-align: center;
        color: black;
    }
    
    footer {
        /* position: sticky;
        bottom: 0; */
        display:flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: white;
        padding: 4px;
        margin: 4px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
        border-radius: 8px; */
    }
    
    .footer-socials a img{
        width: 20px;
    }
    
    a{
        text-decoration: none;
    }
    
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: 12px;
        margin: 0px;
        margin-top: 12px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
        border-radius: 16px;
    }

    .hero img{
        width: 70vw;
        filter: grayscale(20%);
    }

    .hero div{
        text-align: center;
        margin: 4px;
    }
    
    .hero div p{
        margin: 4px;
    }

    .who-am-i{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: 12px;
        margin: 0px;
        margin-top: 12px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
        border-radius: 16px;
    }

    .my-hobbies{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: 12px;
        margin: 0px;
        margin-top: 12px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
        border-radius: 16px;
    }

    .my-stack{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: 12px;
        margin: 0px;
        margin-top: 12px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
        border-radius: 16px;
    }
}


/* -- tablet and above -- */
@media only screen and (min-width: 769px) {

    body{
        margin: 0px;
    }

    .main-div{
        display: flex;
        justify-content: space-between;
    }
    
    .main-div-mid {
        width: 75vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
    }

    p {
        font-weight: 350;
    }

    header {
        position: sticky;
        top: 0;
        background-color: rgba(255,255,255,0.6);
        backdrop-filter: blur(6px);
        /* padding: 12px; */
        /* margin: 8px; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* X, Y, Blur, Spread, Color */
        /* border-radius: 8px; */
    }
    
    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    } 
    
    .main-nav a {
        /* border: black 1px solid; */
        padding: 2px;
        margin: 4px;
        text-align: center;
        color: black;
    }
    
    footer {
        /* position: sticky;
        bottom: 0; */
        display:flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: white;
        padding: 4px;
        margin: 4px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
        border-radius: 8px; */
    }
    
    .footer-socials a img{
        width: 20px;
    }
    
    a{
        text-decoration: none;
    }
    
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /* .hero div{
    
    } */
}


